@page
@model IztekTestCase.Pages.AdminModel
@{
}


<h3>Current highest prime: @Model.highestPrime</h3>
<h1>Inputs</h1>

<table class="table">
    <thead>
        <tr>
            <th>Input</th>
            <th>Prime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var input in Model.Inputs)
        {
            <tr>
                <td>@input.input</td>
                <td>@input.isPrime</td>
            </tr>
        }
    </tbody>
</table>
